.label {
  display: block;
}

.button {
  display: block;
  border-radius: 20px;
  cursor: pointer;
}

.error {
  display: block;
  color: orangered;
}

.field {
  margin-bottom: 10px;
  height: 20px;
  width: 200px;
  border: 1px solid #212121;
  border-radius: 10px;
  padding-left: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
